/* -------------------------------- 

Общие стили 

-------------------------------- */

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4;
	min-width: 320px;
}



/* -------------------------------- 

Типографика 

-------------------------------- */

h1, p {
	color: #545454;	
	margin-bottom: 15px;
}

h2 {
	color: #545454;	
	font-size: 21px;
	font-weight: 500;
	margin-bottom: 6px;
}

ul {
	margin: 0;
	padding: 0;
	color: #545454;
	list-style-type: none; 	
}

p {
	line-height: 1.4;
}

a {
	color: #4682b4;	
}

b {
	color: #545454;
	font-weight: 600;
}

strong {
	color: #545454;
	font-weight: 600;
}

@media screen and (max-width: 340px) {
  h1, h2 {
    line-height: 1.32;
  }
}



/* -------------------------------- 

Карточка товара 

-------------------------------- */

.product {
	width: 280px;
	padding: 20px;
	padding-top: 14px;
	border: 1px solid #d9d9d8;
	border-radius: 10px;
	background-color: #fff;
}

.product__image {
	position: relative;
	display: block;
	height: 242px;
	overflow: hidden;
}

.image-trigger {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
}

.image-trigger__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-trigger__img {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	z-index: 10;
	transform: translateX(-50%);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.image-trigger__img img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-trigger__item:first-child .image-trigger__img {
	opacity: 1;
	z-index: -1;
}

.image-trigger__item:hover .image-trigger__img {
	opacity: 1;
	z-index: -1;
}